CompileFlags:
  # nvcc-only flags confuse clangd; strip them from compile_commands view:
  Remove: [
    "-forward-unknown-to-host-compiler",
    "--generate-code*", "-gencode*",
    "-rdc=*",
    "-Xcompiler*", "-Xptxas",
    "-Wl,*",
    "--expt-extended-lambda",
    "--expt-relaxed-constexpr",
    "--use_fast_math",
    "--relocatable-device-code=false",
    "-maxrregcount=192",
    "-I/home/hao_lab/miniconda3/envs/alexfv/lib/python3.12/site-packages/torch/include",
    "-I/home/hao_lab/miniconda3/envs/alexfv/lib/python3.12/site-packages/torch/include/torch/csrc/api/include",
    "-Xnvlink=--verbose",
    "-Xptxas=--verbose",
    "-Xptxas=--warn-on-spills",
    "-arch=sm_90a",
  ]
  # Teach clangd where CUDA lives and what arch you target:
  Add: [
    "--cuda-path=/usr/local/cuda-12.8",
    # "--cuda-gpu-arch=sm_90a",
    "-xcuda",
    "-I/usr/local/cuda-12.8/include"
  ]
