[submodule "fastvideo-kernel/include/tk"]
	path = fastvideo-kernel/include/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "fastvideo-kernel/include/cutlass"]
	path = fastvideo-kernel/include/cutlass
	url = https://github.com/NVIDIA/cutlass.git

[submodule "csrc/attn/sliding_tile_attn/tk"]
	path = csrc/attn/sliding_tile_attn/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "fastvideo/DeepGEMM"]
	path = DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM

[submodule "fastvideo/DeepGEMM"]
	path = fastvideo/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM
