[submodule "fastvideo-kernel/include/tk"]
	path = fastvideo-kernel/include/tk
	url = https://github.com/HazyResearch/ThunderKittens.git
[submodule "fastvideo-kernel/include/cutlass"]
	path = fastvideo-kernel/include/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "fastvideo/third_party/eval/vbench"]
	path = fastvideo/third_party/eval/vbench
	url = https://github.com/Vchitect/VBench.git
[submodule "fastvideo/third_party/magi_attention"]
	path = fastvideo/third_party/magi_attention
	url = https://github.com/SandAI-org/MagiAttention.git
[submodule "fastvideo/third_party/magi_compiler"]
	path = fastvideo/third_party/magi_compiler
	url = https://github.com/SandAI-org/MagiCompiler.git
[submodule "fastvideo/third_party/flash_attention"]
	path = fastvideo/third_party/flash_attention
	url = https://github.com/Dao-AILab/flash-attention.git
